* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(120deg, #f6d365, #e78b71);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 1rem;
    font-size: 2rem;
    border: none;
    background-color: white;
    
}

form button {
    color: #d88771;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #d88771;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
    padding: 0.2rem;

}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn, .edit-btn {
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.5s all;
}

.trash-btn {
    background: rgba(255, 111, 71);
}
.complete-btn {
    background: rgba(75, 170, 75);
}
.edit-btn {
    background: rgba(150, 70, 255);
}

/* Hover */
.trash-btn:hover {
    background: rgba(255, 111, 71, 0.815);
}

.complete-btn:hover {
    background: rgba(75, 170, 75, 0.781);
}

.edit-btn:hover {
    background: rgba(150, 70, 255, 0.774);
}

todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.pushRight{
    transform: translateX(8rem);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appereance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: white;
    color: #ff6f47;
}
